body{
    margin: 0;
    padding: 0;
    font: 12px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
}

/* Header */

header {
		background: #fff;
		color: #555f66;
		height: 3em;
		left: 0;
		line-height: 3em;
		top: 0;
		width: 100%;

        /*position: fixed;
        z-index: 10000;*/
	}

header h1 {
			color: #666f77;
			font-weight: 500;
			height: inherit;
			left: 1.25em;
			margin: 0;
			padding: 0;
            top: 0;
		}

header h1 a {
            font-size: 1.25em;
        }

header nav {
        right: 1.25em;
        top: 0;
        vertical-align: middle;

        /*position: absolute;*/
    }

header nav > ul {
            list-style: none;
            margin: 0;
            padding-left: 0;
        }

header nav > ul > li {
                border-radius: 6px;
                display: inline-block;
                margin-left: 2em;
                padding-left: 0;
            }

header nav > ul > li a {
                    color: #555f66;
                    display: inline-block;
                    text-decoration: none;
                }

header nav > ul > li a:hover {
                        color: #629DD1;
                    }

header nav > ul > li:first-child {
                    margin-left: 0;
                }


/* Banner */
/*
#banner {
                		background-color: #666666;
                		background-image: url("../images/banner.jpg");
                		background-size: cover;
                		background-position: center center;
                		background-repeat: no-repeat;
                		color: #d8d8d8;
                		padding: 14em 0;
                		text-align: center;
                		position: relative;
                	}
*/
/*
#banner h2 {
        			color: #ffffff;
        			font-size: 3.5em;
        			line-height: 1em;
        			margin: 0 0 0.5em 0;
        			padding: 0;
        		}

#banner p {
    			font-size: 1.5em;
    			margin-bottom: 2em;
       		}

#banner p a {
    				color: #ffffff;
    				text-decoration: none;
        			}

*/
/*
.button {
                                    		background-color: #192024;
                                    		border-radius: 6px;
                                    		border: 0;
                                    		color: #ffffff !important;
                                    		display: inline-block;
                                    		font-weight: 300;
                                    		text-transform: uppercase;
                                    		letter-spacing: 0.125em;
                                    		font-size: 0.9em;
                                    		height: 2.85em;
                                    		line-height: 2.85em;
                                    		padding: 0 1.75em;
                                    		text-align: center;
                                    		text-decoration: none;
                                    		white-space: nowrap;
                                    		text-indent: 0.25em;
                                    	}
*/
/*
ul.actions {
                        cursor: default;
                        list-style: none;
                        padding-left: 0;
                    }

ul.actions li {
                            display: inline-block;
                            padding: 0 1em 0 0;
                            vertical-align: middle;
                        }

ul.actions li:last-child {
                                padding-right: 0;
                            }
*/
/*
#banner .button {
                			min-width: 12em;
                		}

.button.special {
                            background-color: #629DD1;
                            color: #ffffff;
                        }
.button.special:hover {
                            background-color: #76a9d7;
                        }
.button.special:active {
            				background-color: #4e91cb;
            			}
.button.alt {
                            background-color: transparent;
                            color: #666f77;
                        }
.button.alt:hover {
                            background-color: rgba(244, 244, 244, 0.075);
                            color: #ffffff;
                        }
.button.alt:active {
                            background-color: rgba(244, 244, 244, 0.2);
                            color: #ffffff;
                        }
*/
/* Services */
.services{
  background: #303030;
  padding: 1px;
}

.pricing-table {
	margin: 50px auto;
	width: 892px; /* total computed width = 222 x 3 + 226 */
    text-align: center;
}

.pricing-table caption{
    font-size: 2.5em;
    font-weight: 700;
    color: #ccc;
    text-transform: uppercase;
    padding-bottom: 10px;

}

/* plan width = 180 + 20 + 20 + 1 + 1 = 222px */

.pricing-table .plan {
	background: #fff;
	border: 1px solid #ddd;
	color: #333;
    text-shadow: 0 1px rgba(255,255,255,.8);
	padding: 20px;
	width: 180px;
}



.pricing-table ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}

.pricing-table li {
	border-top: 1px solid #ddd;
	padding: 10px 0;
}


.pricing-table h3 {
	font-size: 20px;
	font-weight: normal;
	padding: 20px;
	margin: -20px -20px 50px -20px;
	background-color: #eee;

}


.pricing-table h3 span {
	display: block;
	font: bold 25px/100px Georgia, Serif;
	color: #777;
	background: #fff;
	border: 5px solid #fff;
	height: 100px;
	width: 100px;
	margin: 10px auto -65px;
	border-radius: 100px;

}


.pricing-table .signup {
	padding: 8px 20px;
	margin: 20px 0 0 0;
	color: #fff;
	font: bold 14px Arial, Helvetica;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	background-color: #72ce3f;
	border-radius: 3px;
	text-shadow: 0 1px 0 rgba(0,0,0,.3);
}


.pricing-table .signup:hover {
	background-color: #62bc30;

}

.pricing-table .signup:active, .pricing-table .signup:focus {
	background: #62bc30;
	top: 2px;

}
